<!DOCTYPE html>
<head>
	<style>
		h1 {text-align: center;}
		body {text-align: center;}
	</style>
</head>
<body>
	<!-- <form action="/category" method="GET"> -->
	<br/><br/>
	<h1>Welcome! Here, we are able to grant you all types of dessert that you wish for. Start by selecting a category down below:</h1><br/><br/><br/>
	<a href="/category1">
	<button style="background-color: pink; color: white; padding: 20px 122px; font-size: 20px; border-radius: 5px; border: 2px solid black;">No Oven Recipes:</button></a>
	<br/><br/>
	<a href="category2">
	<button style="background-color: pink; color: white; padding: 20px 108px; font-size: 20px; border-radius: 5px; border: 2px solid black;">3 Ingredient Recipes:</button></a>
	<br/><br/>
	<a href="category3">
	<button style="background-color: pink; color: white; padding: 20px 82px; font-size: 20px; border-radius: 5px; border: 2px solid black;">Under 10 Minutes Recipes:</button></a>
<!-- </form> -->
</body>
</html>
