<!DOCTYPE html>
<head>
</head>
<body>
<form action="/review" method="POST">
	<label for="comment">Enter comment here:</label><br>
 	<input type="text" id="comment" name="comment"><br>
 	<label for="comment_from">Written by:</label><br>
 	<input type="text" id="comment_from" name="comment_from"><br>
	<input type="submit" value="Submit"><br>
</form>
</body>


<a href="/view">
	<button>Interested in reading other reviews? Check this page out!</button></a>
<br>
<a href="/category">
	<button>Click here to go back to the main page!</button></a>
</html>