<!DOCTYPE html>
<head>
</head>
<body>
	<form action="/review_update" method="POST">
 	<a href="/review">
    <button>Want to add a comment and rate the experience? Click here</button></a>

</form>
</body>
</html>

<!-- 
try:
	UID = login_session['user']['localId']
db.child("Users").child(UID).remove()
return redirect(url_for('signin'))
except:
error = "Couldn’t remove object" -->


<!-- try:
UID = login_session['user']['localId']
	updated = {"email": "ibrahim@gmail.com"}
db.child("Users").child(UID).update(updated)
return redirect(url_for('home'))
except:
error = "Couldn’t update" -->