<!DOCTYPE html>
<head>
	<title>Sign In:</title>
</head>
<body>
	<h2>Sign into your account here:</h2>
	<form action="/signin" method="POST">
	<label for="username">Enter username here:</label>
	<input type="text" id="username" name="username"><br/><br/>
	<label for="email">Enter your email:</label>
 	<input type="text" id="email" name="email"><br/><br/>
 	<label for="password">Password:</label>
  	<input type="text" id="password" name="password"><br/><br/>
 	<input type="submit" value="Submit">
</form>
</body>
</html>